Hdeleon-Facturacion/Connected Services/ServiceReference1/Timbrado.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FacturaService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FacturaService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExtraData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HTML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SquareMeter" type="xs:decimal" />
      <xs:element minOccurs="0" name="Undivided" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtraData" nillable="true" type="tns:ExtraData" />
</xs:schema>